*.wav
*.csv
*.fig
*.flac
*.mp3
*.mat
*.zip
ecg_peaks_ibi/
mfcc/
results/
LSTNet-master/
tim_brain_results/
Theodora_EDA/
matrices/
ratings_fmri/
MIRtoolbox1.7.1/
sad_l_split/
sad_s_split/
scr/
biopac_baselines/
happy_split/
ratings/
ratings_behav/
ratings_fmri/